FLASK_ENV=development
MONGO_URI=mongodb://localhost:27017/smart_survey
JWT_SECRET=devsecret
LT_BASE=https://libretranslate.com
CORS_ORIGINS=http://localhost:19006
RATE_LIMIT_WINDOW=60
RATE_LIMIT_MAX=30
